.body{
    background: url(grass.jpg) no-repeat;
    background-size: cover;
}
.dog{
position: absolute; 
bottom: 18px;
right: 10px;
}

.img{
    position: absolute;
    }
.car{
        position: absolute; 
        top: 600px;
    }
.sky{
    position: absolute;
    top: 10px;
    left: 375px;
}
.hause{
    position: absolute;
    top: 305px;
}
.housedog{
    position: absolute;
    top: 550px;
    right: 10px;
}